* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
}

.container-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info {
    margin-left: 10px;
}

.item {
    margin-top: 35px;
    width: 330px;
    height: 200px;
    border: 4px blue solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.2s;
}

.icon-categories {
    width: 100px;
}

.title-categories {
    margin: 10px;
    font-size: 25px;
}

.item:hover {
    cursor: pointer;
    transform: translateY(-10px);
}