* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

main {
    margin-top: 10vh;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.subtitle {
    margin-top: 60px;
    font-size: 25px;
}

ul {
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.underline {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: blue;
    margin-bottom: 30px;
}

.content {
    text-align: justify;
}

.written {
    font-size: 16px;
}

.formula {
    text-align: center;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.picture {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-discribe {
    max-width: 100%;
    border-radius: 2rem;
    border: 5px black solid;
}

.discribe {
    font-size: 17px;
}

.img-formula {
    border: 4px red solid;
    border-radius: 15px;
}