* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#header {
    width: 100vw;
    height: auto;
    position: fixed;
    background-color: aqua;
}

#header .header {
    width: 100%;
    height: 100%;
}

#header .nav-bar {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#header .nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    left: 100%;
    top: 0;
    background-color: cadetblue;
    list-style: none;
    transition: 0.5s left;
}

#header .nav-list ul a {
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: white;
}

#header .nav-list ul a:hover {
    color: crimson;
}

#header .nav-bar .bar {
    width: 3px;
    height: 2px;
    background-color: black;
}





#header:hover ul {
    left: 0;
}