/* Start General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background-image: url(/background/5313770.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center center;
}
/* End General Section */

/* Start Header Section */
#header {
    width: 100vw;
    height: auto;
    position: fixed;
    background-color: aqua;
}

#header .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#header .nav-bar {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#header .brand {
    display: flex;
}

#header .brand p {
    font-size: 20px;
}

#header .brand span {
    font-weight: 700;
    font-size: 30px;
}

#header .brand .img {
    width: 50px;
    height: 50px;
}

#header .nav-list {
    width: 60%;
}

#header .nav-list ul a {
    text-decoration: none;
    color: black;
    transition: 0.2s transform;
}

#header .nav-list ul a:hover {
    transform: translateY(-5px);
}

#header .nav-list ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #header .nav-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    left: 100%;
    top: 0;
    background-color: cadetblue;
    list-style: none;
    transition: 0.5s left;
}

#header .nav-list ul a {
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: white;
}

#header .nav-list ul a:hover {
    color: crimson;
}

#header .nav-bar .bar {
    width: 3px;
    height: 2px;
    background-color: black;
} */
/* End Header Section */





