* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: hidden;
}

header {
    background-color: blanchedalmond;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 2000px;
}

body {
    color: black;
}

nav p {
    font-size: 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav p span {
    font-weight: 700;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.logo-website {
    display: flex;
    align-items: center;
}

nav .logo-website img {
    height: 70px;
}

#nav-link {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

nav #nav-link a {
    transition: 0.2s;
}

nav #nav-link a:hover {
    transform: translateY(-5px);
}

#hamburger {
    cursor: pointer;
    width: 20px;
    display: none;
}

#menu {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: brown;
    position: absolute;
    left: 100vw;
    top: 70px;
    z-index: 1000;
    transition: transform 0.5s;
}

#menu div {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    #nav-link {
        display: none;
    }

    #hamburger {
        display: inline-block;
    }

    nav .logo-website img {
        height: 50px;
    }

    nav .logo-website p {
        display: none;
    }

    #menu {
        display: flex;
        width: 70%;
        height: calc(100vh - 50px);
        top: 50px;
    }

    #menu a {
        transition: 0.2s;
    }

    #menu a:hover {
        transform: scale(1.1);
    }
}