* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

nav {
  display: flex;
  height: 90px;

  align-items: center;
  justify-content: space-around;
}

.name {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.bold {
  font-weight: 700;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 70px;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  transition: transform 0.2s;
}

a:hover {
  transform: translateY(-5px);
}

.nav-links {
  width: 40%;
  display: inline-flex;
  list-style: none;
  justify-content: space-around;
}

/* main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */
