* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: thistle;
    border-radius: 5px;
}

.section-center {
    max-width: 1600px;
}

#mode:hover {
    background-color: transparent;
}

#input-size {
    width: 50%;
}

.board {
    width: 600px;
    /* height: 600px; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    grid-gap: 5px;
    padding: 5px;
    border: 5px solid blanchedalmond;
    background-image: url(../background/1.jpeg);
    background-size: cover;
    background-position: center;
}

.cell, .cell-goal {
    background-color: white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.blank {
    background-color: transparent;
}

#background-image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
    transition-property: transform, opacity;
    cursor: pointer;
}

#background-image-gallery img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.wrapper-modal-content {
    backdrop-filter: blur(2rem);
    background-color: transparent;
}

.modal-content {
    background-color: transparent;
    backdrop-filter: blur(2rem);
    border: none;
}

.modal-body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: thistle;
    border-radius: 5px;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-backdrop {
    background-color: transparent;
}

.wrapper-input-state {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: -100%;
    z-index: 1000000;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 0.5s;
    transition-property: transform, top;
}

.wrapper-input-state.open {
    top: 0;
}

.input-state {
    /* width: 400px;
    height: 400px; */
    padding: 10px;
    background-color: transparent;
    backdrop-filter: blur(5rem);
    border-radius: 10px;
}

.input-state-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    cursor: pointer;
}

.input-state-body {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

@media screen and (max-width: 768px) {
    .cell, .cell-goal {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .cell, .cell-goal {
        font-size: 1rem;
    }
}