/* Start Recent Use Section */
/*
background-color: rgb(38, 37, 38);
box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
box-shadow: 6px 6px 20px rgba(251, 63, 63, 0.212);

nav-links: 1
hamburger: 2
mode: 2
header: 10
overlay: 900
tools-button: 1000
*/
/* End Recent Use Section */


/* Start General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    width: 100%;
    /* background-image: url(../background/background-light.jpg); */
    background-image: url(../background/background-light.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-height: 100vh;
    transition: 0.3s background-image;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
}
/* End General Section */



/* Start Header Section */
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(220, 236, 238);
    transition: 0.3s background-color;
    z-index: 10;
    /* background-color: rgb(232, 244, 238); */
    /* backdrop-filter: blur(2rem); */
}

header nav {
    width: 100%;
    max-width: 1420px;
    /* background-color: aqua; */
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: black;
    transition: 0.3s color;
}

header nav #logo {
    flex-grow: 0.5;
}

header nav #logo a {
    display: flex;
    align-items: center;
    width: fit-content;
}

header nav #logo p {
    font-size: 20px;
}

header nav #logo p span {
    font-size: 25px;
    font-weight: 800;
}

header nav #logo div {
    width: 50px;
    height: 50px;
}

header nav #nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

header nav #nav-links a {
    font-size: 18px;
    transition: 0.2s;
    transition-property: color, transform;
}

header nav #nav-links a:hover {
    color: maroon;
    transform: translateY(-5px);
}

header nav #nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav #nav-buttons #mode {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: cover;
    z-index: 2;
    transition: 1s;
}

header nav #nav-buttons #mode.dark {
    transform: rotate(360deg);
}

header nav #nav-buttons #tools-box {
    width: 40px;
    cursor: pointer;
}
/* End Header Section */






/* Start Main Section */
#posts-explores {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#posts-explores #wrapper {
    width: 100%;
    max-width: 1420px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

#posts-explores #wrapper #grid-posts-explores {
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 80px auto;
    column-gap: 30px;
}

#posts-explores #wrapper #grid-posts-explores #recent-posts-format {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#posts-explores #wrapper #grid-posts-explores #recent-posts {
    transition: 0.3s color;
}

#posts-explores #wrapper #grid-posts-explores #recent-posts-format #format {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#posts-explores #wrapper #grid-posts-explores #recent-posts-format #format p {
    transition: 0.3s color;
}

#posts-explores #wrapper #grid-posts-explores #recent-posts-format #format div {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

#posts-explores #wrapper #grid-posts-explores #recent-posts-format #format div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#posts-explores #wrapper #grid-posts-explores #read-more {
    width: 100%;
    display: flex;
    align-items: center;
}

#posts-explores #wrapper #grid-posts-explores #read-more h3 {
    transition: 0.3s color;
}

#posts-explores #wrapper #grid-posts-explores #posts {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#posts-explores #wrapper #grid-posts-explores #posts .post {
    width: 100%;
    height: 240px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 220px;
    column-gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
    transition: 0.3s background-color;
}

#posts-explores #wrapper #grid-posts-explores #posts .post:last-child {
    margin-bottom: 0;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .img-post {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .img-post img {
    transition: 0.3s;
    transition-property: transform, opacity;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .img-post img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .info-post {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .info-post .author-categories {
    display: flex;
    /* align-items: center; */
    margin-bottom: 5px;
    transition: 0.3s color;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .info-post .author-categories a {
    transition: 0.3s color;
    color: teal;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .info-post .author-categories div {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .info-post .author-categories div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .info-post .title-post {
    flex-grow: 1;
    overflow: auto;
    font-size: 22px;
    font-weight: 800;
}

#posts-explores #wrapper #grid-posts-explores #posts .post .info-post .title-post a {
    transition: 0.3s color;
    color: black;
}

#posts-explores #explores {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#posts-explores #explores .item-explore {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    margin-bottom: 20px;
    transition: 0.3s background-color;
}

#explores .item-explore .title-explore {
    position: relative;
    margin-bottom: 15px;
    transition: 0.3s color;
}

#explores .item-explore .content-introduction p {
    margin-bottom: 10px;
    transition: 0.3s color;
}

#explores .item-explore .content-introduction p:last-child {
    margin-bottom: 0;
}

#explores .item-explore .title-explore::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: blue;
    position: absolute;
    border-radius: 1px;
}

#explores .item-explore .content-item-explore {
    width: 100%;
}

#explores .item-explore .content-item-explore .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#explores .item-explore .content-item-explore .wrapper div {
    width: 50%;
    max-width: 200px;
}

#explores .item-explore .content-item-explore .wrapper .author-name {
    transition: 0.3s color;
    color: black;
}

#explores .item-explore .content-item-explore .wrapper .position {
    display: flex;
    width: fit-content;
    transition: 0.3s color;
}

#explores .item-explore .content-item-explore .wrapper .position div {
    width: 12px;
    height: 13px;
    margin-right: 3px;
}

#explores .item-explore .content-item-explore .wrapper .position div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




#explores .link-categories {
    display: flex;
    flex-wrap: wrap;
}

#explores .link-categories a {
    border: 1px solid red;
    border-radius: 0.2rem;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    transition: 0.1s transform, 0.3s color, 0.3s border;
}

#explores .link-categories a:hover {
    border: 1px solid blue;
    transform: scale(1.05);
}








#posts-explores #wrapper #grid-posts-explores #posts.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-template-rows: 450px;
    grid-gap: 20px;
}

#posts-explores #wrapper #grid-posts-explores #posts.grid .post {
    height: 450px;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 220px;
    row-gap: 10px;
    column-gap: 0px;
    margin-bottom: 0;
}




/* main div {
    width: 100%;
    height: 3000px;
} */
/* End Main Section */




/* Start Footer Section */
footer {
    width: 100%;
}

footer #blank {
    width: 100%;
    height: 200px;
}
/* End Footer Section */






/* Start Dark Mode Section */
body.dark {
    background-image: url(../background/background-dark.png);
}

header.dark {
    /* background-color: rgb(36, 22, 38); */
    /* background-color: rgb(3, 7, 22); */
    background-color: rgb(7, 16, 19);
}

header.dark nav a {
    color: white;
}

header.dark nav #nav-links a:hover {
    color: khaki;
}

#posts-explores.dark {
    color: white;
}

#posts-explores.dark #wrapper #grid-posts-explores #posts .post .info-post .author-categories a {
    color: aqua;
}

#posts-explores.dark #wrapper #grid-posts-explores #posts .post .info-post .title-post a {
    color: white;
}

#posts-explores.dark #explores .item-explore .content-item-explore .wrapper .author-name {
    color: white;
}

#posts-explores.dark #explores .link-categories a {
    border: 1px solid cadetblue;
    color: white;
}

#posts-explores.dark #explores .link-categories a:hover {
    border: 1px solid blanchedalmond;
}

#posts-explores.dark #wrapper #grid-posts-explores #posts .post {
    background-color: rgb(38, 37, 38);
}

#posts-explores.dark #explores .item-explore {
    background-color: rgb(38, 37, 38);
}
/* End Dark Mode Section */



/* Start Query For Other Media Section */
@media screen and (max-width: 1000px) {
    header nav #logo p {
        display: none;
    }

    #posts-explores #wrapper #grid-posts-explores {
        grid-template-columns: 6.5fr 4.5fr;
    }
}

@media screen and (max-width: 800px) {
    header nav #logo {
        flex-grow: 0;
    }

    header nav #nav-links {
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: khaki;
        transition: 0.4s;
        transition-property: left, background-color;
        z-index: 1;
    }

    header nav #nav-links.open {
        left: 0;
    }

    header nav #nav-links a {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    header nav #nav-links a:hover {
        transform: scale(1.1);
    }

    header nav #nav-buttons {
        width: 90px;
    }

    header nav #nav-buttons #hamburger {
        width: 45px;
        height: 45px;
        border: 3px solid darksalmon;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 1000;
    }

    header nav #nav-buttons #hamburger::after {
        content: '';
        width: 100%;
        height: 100%;
        border: 3px solid darksalmon;
        border-radius: 50%;
        position: absolute;
        z-index: 1000;
        left: -3px;
        top: -3px;
        animation: hamburger_puls 1s infinite;
    }

    header nav #nav-buttons #hamburger #bar {
        width: 30px;
        height: 2px;
        border-radius: 3px;
        background-color: darksalmon;
        position: relative;
    }

    header #hamburger #bar::before, header #hamburger #bar::after {
        content: '';
        width: 30px;
        height: 2px;
        background-color: darksalmon;
        border-radius: 3px;
        position: absolute;
    }

    header #hamburger #bar::before {
        bottom: 8px;
        transition: 0.5s bottom;
    }

    header #hamburger #bar::after {
        top: 8px;
        transition: 0.5s top;
    }

    header #hamburger.open #bar::before{
        bottom: 0px;
    }

    header #hamburger.open #bar::after {
        top: 0px;
    }





    #posts-explores #wrapper #grid-posts-explores {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto 120px auto;
        column-gap: 20px;
    }

    #posts-explores #wrapper #grid-posts-explores #read-more {
        grid-row: 3 / 4;
        margin-top: 40px;
    }

    #posts-explores #wrapper #grid-posts-explores #posts .post .info-post .title-post {
        font-size: 18px;
    }



    /* Start Dark Mode Section */
    header.dark nav #nav-links {
        background-color: rgb(38, 37, 38);
    }
    /* End Dark Mode Section */
}
/* End Query For Other Media Section */




/* Start Keyframes Section */
@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

/* @keyframes rotate_icon_mode {
    80% {
        transform: rotate(370deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */
/* End Keyframes Section */