* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

body {
    font-family: "Poppins", sans-serif;
}







/* -----------------------------------------------
----------------------------------------------- */




/* Start section Posts - Explores */

.posts-explores {
    display: flex;
    flex-wrap: wrap;
}

/* End section Posts - Explores */




/* Start section Poster */

.poster {
    width: 100%;
}

/* End section Poster */





/* Start section Posts */

.posts {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 25px;
}

.posts-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 90%;
    height: 35vh;
    min-height: 200px;
    max-height: 250px;
    min-width: 500px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    /* border: 3px solid red; */
    padding: 10px;
    margin-top: 3%;

    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.border-img-post {
    /* max-height: 90%;
    max-width: 40%; */



    /* height: 90%;
    width: 40%;
    background-size: cover;
    background: url(../img1/internet.png); */



    display: flex;
    width: 40%;
    height: 95%;
    /* min-width: 220px;
    min-height: 210px; */
    justify-content: center;
    align-items: center;
}

.img-post {
    max-width: 100%;
    max-height: 100%;
}

.info-post {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    margin-left: 25px;
}

.topic {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.author {
    color: seagreen;
}

.name-topic {
    color: rosybrown;
}

.author-topic {
    margin-left: 5px;
    font-size: 15px;
}

.avatar {
    width: 20px;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.time-publish-post {
    font-size: 15px;
}

.recent {
    margin-top: 50px;
    margin-right: 45vw;
    font-size: 20px;
}

/* End section Posts */




/* Start section Explores */

.explores {
    margin-top: 70px;
    width: 30vw;
    align-items: flex-end;
}

.categories {
    display: flex;
    flex-wrap: wrap;
}

.content-explore {
    padding: 10px;
}

.title-explore {
    font-size: 18px;
    font-weight: 700;
}

.link-category {
    border: 1px solid red;
    border-radius: 0.2rem;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;

    transition: 0.1s ease-in-out;
}

.name-category {
    padding: 5px;
}

.item-explore {
    width: 90%;
    /* border: 3px solid red;
    border-radius: 0.5rem; */
    align-items: center;
    margin-top: 7%;

    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.underline-explore {
    width: 50px;
    height: 3px;
    /* border-radius: 2px; */
    background-color: blue;
    margin-bottom: 10px;
}

.link-category:hover{
    border: 1px solid blue;
    transform: scale(1.05);
	transition-duration: 0.1s;
}

/* End section Explores */




/* Start section Introduction */

.position {
    display: flex;
    align-items: center;
}

#avatar-introduction {
    width: 50%;
    margin-bottom: 5px;
}

.myself {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marker {
    width: 12px;
}

.name-position {
    margin-left: 5px;
}

/* End section Introduction */



/* -----------------------------------------------
----------------------------------------------- */





































/* 
main {
    margin-top: 10vh;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.subtitle {
    margin-top: 60px;
    font-size: 25px;
}

ul {
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.poster {
    
}

.underline {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: blue;
    margin-bottom: 30px;
}

.content {
    text-align: justify;
}

.written {
    font-size: 16px;
}

.formula {
    text-align: center;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.picture {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-discribe {
    max-width: 80%;
}

.discribe {
    font-size: 17px;
}

.img-formula {
    border: 4px red solid;
    border-radius: 15px;
} */