/* background-color: rgb(230, 235, 235); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: thistle;
    border-radius: 5px;
}

.section-center {
    max-width: 1600px;
}

#mode:hover {
    background-color: transparent;
}

#input-size {
    width: 50%;
}

.board {
    /* width: 600px; */
    height: 600px;
    width: 100%;
    /* height: 100%; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    grid-gap: 5px;
    padding: 5px;
    border: 5px solid blanchedalmond;
    background-image: url(../background/1.jpeg);
    background-size: cover;
    background-position: center;
}

.cell, .cell-goal {
    background-color: white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    /* padding: 10px 20px; */
}

.blank {
    background-color: transparent;
}

#background-image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
    transition-property: transform, opacity;
    cursor: pointer;
}

#background-image-gallery img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.wrapper-modal-content {
    backdrop-filter: blur(2rem);
    background-color: transparent;
}

.modal-content {
    background-color: transparent;
    backdrop-filter: blur(2rem);
    border: none;
}

.modal-body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: thistle;
    border-radius: 5px;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-backdrop {
    background-color: transparent;
}

.wrapper-table-input {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: -100%;
    display: flex;
    transition: 0.4s;
    z-index: 1000000;
    padding: 10px;
}

.wrapper-table-input.open {
    top: 0;
}

.input-state {
    max-width: 700px;
    padding: 10px;
    /* background-color: rgb(230, 235, 235); */
    background-color: rgb(234, 240, 242);
    /* backdrop-filter: blur(50rem); */
    border-radius: 10px;
    z-index: 1000000;
    transition: 0.4s;
    transform: translateY(-100vh) scale(0);
}

.input-state.open {
    transform: translateY(0) scale(1);
}

.input-state-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button-input {
    cursor: pointer;
}

.input-state-body {
    margin: 20px 0;
    display: grid;
    /* grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); */
    grid-gap: 10px;
}

.cell-input {
    border-color: maroon;
    opacity: 0.7;
}





.wrapper-table-goal {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: -100%;
    display: flex;
    transition: 0.4s;
    z-index: 1000000;
    padding: 10px;
}

.wrapper-table-goal.open {
    top: 0;
}

.goal-state {
    max-width: 700px;
    padding: 10px;
    /* background-color: rgb(230, 235, 235); */
    background-color: rgb(234, 240, 242);
    /* backdrop-filter: blur(50rem); */
    border-radius: 10px;
    z-index: 1000000;
    transition: 0.4s;
    transform: translateY(-100vh) scale(0);
}

.goal-state.open {
    transform: translateY(0) scale(1);
}

.goal-state-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button-goal {
    cursor: pointer;
}

.goal-state-body {
    margin: 20px 0;
    display: grid;
    /* grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); */
    grid-gap: 10px;
}

.cell-input-goal {
    border-color: maroon;
    opacity: 0.7;
}










@media screen and (max-width: 1200px) {
    .board {
        height: 50vw;
    }
}

@media screen and (max-width: 768px) {
    .cell, .cell-goal {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .cell, .cell-goal {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 500px) {
    .board {
        width: 100vw;
        height: 100vw;
    }

    .cell, .cell-goal {
        font-size: 1rem;
    }
}