main {
    margin-top: 10vh;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.header {
    text-align: center;
}

.title {
    margin-top: 60px;
}

ul {
    margin-left: 40px;
}

.underline {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: blue;
    margin-bottom: 30px;
}

.content {
    text-align: justify;
    font-size: 20px;
}