main {
    margin-top: 10vh;
    margin-left: 15%;
    margin-right: 15%;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.under {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: blue;
    margin-bottom: 30px;
}

.content {
    text-align: justify;
}