* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

footer {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.container {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    align-items: center;
}