* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(./img/snow.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
}

h1 {
    font-weight: normal;
    margin-top: 100px;
    margin-bottom: 50px;
}

.countdown-container {
    display: flex;
    justify-content: space-between;

    width: 60%;
    min-width: 600px;
}

.big-text {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 20px;
}