* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(8, 11, 33);
}

#clock {
    width: 100vw;
    height: 70vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock #time div {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

#title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    letter-spacing: 8px;
    word-spacing: 8px;
}

#time {
    /* width: 730px;
    height: 220px; */
    width: 50%;
    min-width: 500px;
    display: flex;
    justify-content: space-around;

    position: relative;
}

#hours {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 100%;
    background-color: rgb(33, 150, 244);
}

#number-hours {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 120px;
    font-weight: 50;
    color: white;

    width: 100%;
    height: 75%;
}

#info-hours {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 23px;
    letter-spacing: 3px;
    color: white;

    width: 100%;
    height: 25%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(19, 122, 206);
}

#minutes {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 100%;
    background-color: rgb(33, 150, 244);
}

#number-minutes {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 120px;
    font-weight: 50;
    color: white;

    width: 100%;
    height: 75%;
}

#info-minutes {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 23px;
    letter-spacing: 3px;
    color: white;

    width: 100%;
    height: 25%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(19, 122, 206);
}

#seconds {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 100%;
    background-color: rgb(254, 0, 106);
}

#number-seconds {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 120px;
    font-weight: 50;
    color: white;

    width: 100%;
    height: 75%;
}

#info-seconds {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 23px;
    letter-spacing: 3px;
    color: white;

    width: 100%;
    height: 25%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(227, 0, 95);
}

#ampm {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 23px;

    width: 80px;
    height: 25%;
    background: paleturquoise;

    position: absolute;
    bottom: 0;
    right: -80px;
}