* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

nav {
    display: flex;
    height: 90px;
    
    align-items: center;
    justify-content: space-around;
}

.name {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.bold {
    font-weight: 700;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 70px;
}

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    transition: transform 0.2s;
}

a:hover {
    transform: translateY(-5px);
}

.nav-links {
    width: 40%;
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.question {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

.guide {
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    color: darkseagreen;
    margin-bottom: 5px;
}

.input-name-website {
    width: 80%;
    padding: 10px 10px 2px 0px;
    border: none;
    font-size: 15px;
    outline: none;
}

.bar {
    width: 100%;
    height: 2px;
    background: blue;
    margin-bottom: 20px;
}

.explore {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background: rgb(93, 232, 176);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.explore:hover {
    transform: scale(1.06);
}

.pic {
    width: 50vw;
}