* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(56, 53, 53);
    font-size: 40px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgb(8, 25, 35);
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0px -15px 15px rgba(255, 255, 255, 0.05), 0px 10px 15px rgba(0, 0, 0, 0.5);
    background-image: url(./img/clock.png);

    position: relative;
}

#clock::before {
    content: "";
    width: 97%;
    height: 97%;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.5), inset 0px -15px 20px rgba(255, 255, 255, 0.05);

    position: absolute;
}

#box-hours {
    display: flex;

    width: 9px;
    height: 50%;
    border-radius: 1.5px;

    position: absolute;
    z-index: 1;

    transform: rotate(0deg);
    transition: 1s;
}

#hours {
    width: 100%;
    height: 50%;
    background-color: rgb(255, 16, 94);
    border-radius: 1.5px;
}



#box-minutes {
    display: flex;

    width: 6px;
    height: 60%;
    border-radius: 1.5px;

    position: absolute;
    z-index: 2;

    transform: rotate(0deg);
    transition: 1s;
}

#minutes {
    width: 100%;
    height: 50%;
    background-color: rgb(251, 253, 254);
    border-radius: 1.5px;
}



#box-seconds {
    display: flex;

    width: 3px;
    height: 70%;
    border-radius: 1.5px;

    position: absolute;
    z-index: 3;

    transform: rotate(0deg);
    transition: 1s;
}

#seconds {
    width: 100%;
    height: 70%;
    background-color: rgb(15, 103, 192);
    border-radius: 1.5px;
}




#center {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;

    position: absolute;
    z-index: 4;
}










































